bin
obj
*.sln
*.csproj
*.suo
*.user
/SFML
/Library
/Publish
/Assets/Plugins
/Assets/Plugins.meta
/Assets/Resources/Shaders/Unlit.*
/Assets/Resources/Shaders/UnlitTransparentVertexColored.*
/Assets/Resources/Shaders/UnlitTransparentVertexColoredAdditive.*
/Temp
/Diary
/Assets/Resources/Atlases
/Art/Atlas-1/*.png